<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AeroliteMc0.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,728},{106,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{106,112}}</string>
                <key>sourceSize</key>
                <string>{112,118}</string>
            </dict>
            <key>AeroliteMc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,812},{105,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{105,118}}</string>
                <key>sourceSize</key>
                <string>{109,120}</string>
            </dict>
            <key>AeroliteMc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,826},{116,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{116,131}}</string>
                <key>sourceSize</key>
                <string>{120,135}</string>
            </dict>
            <key>AllianceCenterMc0.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,482},{195,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,192}}</string>
                <key>sourceSize</key>
                <string>{195,192}</string>
            </dict>
            <key>CityCenterMc0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{234,312}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{234,312}}</string>
                <key>sourceSize</key>
                <string>{234,334}</string>
            </dict>
            <key>CityCenterMc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{234,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{234,326}}</string>
                <key>sourceSize</key>
                <string>{234,334}</string>
            </dict>
            <key>CityCenterMc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,332}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,332}}</string>
                <key>sourceSize</key>
                <string>{234,334}</string>
            </dict>
            <key>CommanderCenterMc0.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,250},{210,230}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{210,230}}</string>
                <key>sourceSize</key>
                <string>{210,246}</string>
            </dict>
            <key>CommanderCenterMc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{210,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,246}}</string>
                <key>sourceSize</key>
                <string>{210,246}</string>
            </dict>
            <key>CommanderCenterMc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,311},{204,246}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{204,246}}</string>
                <key>sourceSize</key>
                <string>{210,246}</string>
            </dict>
            <key>Composecener0.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{258,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,15},{258,249}}</string>
                <key>sourceSize</key>
                <string>{336,279}</string>
            </dict>
            <key>EffigyMc.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,704},{132,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,120}}</string>
                <key>sourceSize</key>
                <string>{132,120}</string>
            </dict>
            <key>FlowerhouseMc.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,559},{188,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,143}}</string>
                <key>sourceSize</key>
                <string>{188,143}</string>
            </dict>
            <key>He3FieldMc0.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,482},{148,122}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{148,122}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>He3FieldMc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,606},{148,120}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{148,120}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>He3FieldMc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,676},{142,134}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{142,134}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>HighlaserMc.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,311},{86,84}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{86,84}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>HighorbitcannonMc.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,842},{100,103}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,103}}</string>
                <key>sourceSize</key>
                <string>{100,115}</string>
            </dict>
            <key>MemorialMc.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,590},{184,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,182}}</string>
                <key>sourceSize</key>
                <string>{184,182}</string>
            </dict>
            <key>MetalFieldMc0.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,812},{120,112}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{120,112}}</string>
                <key>sourceSize</key>
                <string>{120,162}</string>
            </dict>
            <key>MetalFieldMc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,812},{120,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,162}}</string>
                <key>sourceSize</key>
                <string>{120,162}</string>
            </dict>
            <key>MetalFieldMc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,826},{120,128}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{120,128}}</string>
                <key>sourceSize</key>
                <string>{120,162}</string>
            </dict>
            <key>RadarMc0.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{248,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,307}}</string>
                <key>sourceSize</key>
                <string>{248,307}</string>
            </dict>
            <key>StatueMc.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,360},{196,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,228}}</string>
                <key>sourceSize</key>
                <string>{196,228}</string>
            </dict>
            <key>building_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,253},{213,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,105}}</string>
                <key>sourceSize</key>
                <string>{213,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building1.ktx</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:788fd3f4b122670add21b154c34acde7$</string>
            <key>textureFileName</key>
            <string>building1.ktx</string>
        </dict>
    </dict>
</plist>
