<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blink_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,147},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>frame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,339},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>game_story_mask2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,306},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>guide_skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,207},{167,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,80}}</string>
                <key>sourceSize</key>
                <string>{167,80}</string>
            </dict>
            <key>load_ship_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{274,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,115}}</string>
                <key>sourceSize</key>
                <string>{274,115}</string>
            </dict>
            <key>load_ship_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,2},{153,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,55}}</string>
                <key>sourceSize</key>
                <string>{153,55}</string>
            </dict>
            <key>load_ship_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,429},{57,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,20}}</string>
                <key>sourceSize</key>
                <string>{57,20}</string>
            </dict>
            <key>load_ship_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,405},{40,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,16}}</string>
                <key>sourceSize</key>
                <string>{40,16}</string>
            </dict>
            <key>load_ship_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,284},{60,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,20}}</string>
                <key>sourceSize</key>
                <string>{60,20}</string>
            </dict>
            <key>load_ship_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,468},{46,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,16}}</string>
                <key>sourceSize</key>
                <string>{46,16}</string>
            </dict>
            <key>loading_proBack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{554,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,193}}</string>
                <key>sourceSize</key>
                <string>{554,193}</string>
            </dict>
            <key>loading_proBack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,325},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>loading_progbar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,357},{30,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{30,23}}</string>
                <key>sourceSize</key>
                <string>{64,53}</string>
            </dict>
            <key>loading_progbar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,284},{204,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,53}}</string>
                <key>sourceSize</key>
                <string>{204,53}</string>
            </dict>
            <key>loading_progbar5.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,231},{253,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,51}}</string>
                <key>sourceSize</key>
                <string>{253,51}</string>
            </dict>
            <key>loading_ship_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,59},{148,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,54}}</string>
                <key>sourceSize</key>
                <string>{148,54}</string>
            </dict>
            <key>loading_ship_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{579,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,153}}</string>
                <key>sourceSize</key>
                <string>{579,153}</string>
            </dict>
            <key>loading_ship_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,133},{263,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,96}}</string>
                <key>sourceSize</key>
                <string>{263,96}</string>
            </dict>
            <key>loading_ship_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{572,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,185}}</string>
                <key>sourceSize</key>
                <string>{572,185}</string>
            </dict>
            <key>loading_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,119},{268,12}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{268,12}}</string>
                <key>sourceSize</key>
                <string>{300,20}</string>
            </dict>
            <key>loading_star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,289},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>loading_star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,115},{136,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,90}}</string>
                <key>sourceSize</key>
                <string>{136,90}</string>
            </dict>
            <key>loading_star_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,429},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>story_mask_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,59},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>wait_circle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,339},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{86,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>wait_circle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,405},{70,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{70,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>wait_circle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,477},{46,46}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{46,46}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>wait_circle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,481},{44,56}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,17},{44,56}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>wait_circle5.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,451},{46,52}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{46,52}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>wait_circle6.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,115},{24,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{24,30}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading.ktx</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:808527dc61f18cc76c2506140eccc29c$</string>
            <key>textureFileName</key>
            <string>loading.ktx</string>
        </dict>
    </dict>
</plist>
