<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,776}}</string>
                <key>offset</key>
                <string>{0,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,248},{1024,776}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map1.ktx</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82fa7eac87f35c8d7e4675e64d8708aa$</string>
            <key>textureFileName</key>
            <string>map1.ktx</string>
        </dict>
    </dict>
</plist>
