<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{352,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,1024}}</string>
                <key>sourceSize</key>
                <string>{352,1024}</string>
            </dict>
            <key>map_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,0},{352,976}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,976}}</string>
                <key>sourceSize</key>
                <string>{352,976}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map3.ktx</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8eec8e674b26ba0a8920929586e639a2$</string>
            <key>textureFileName</key>
            <string>map3.ktx</string>
        </dict>
    </dict>
</plist>
