<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,447},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>battleItemslot_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,444},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>battle_showgrid.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,275},{168,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,44}}</string>
                <key>sourceSize</key>
                <string>{168,44}</string>
            </dict>
            <key>card_mask_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,612},{195,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,47}}</string>
                <key>sourceSize</key>
                <string>{195,47}</string>
            </dict>
            <key>card_mask_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,563},{195,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,47}}</string>
                <key>sourceSize</key>
                <string>{195,47}</string>
            </dict>
            <key>card_mask_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,226},{195,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,47}}</string>
                <key>sourceSize</key>
                <string>{195,47}</string>
            </dict>
            <key>card_mask_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,228},{195,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,47}}</string>
                <key>sourceSize</key>
                <string>{195,47}</string>
            </dict>
            <key>card_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,228},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>card_type_title_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,654},{180,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,68}}</string>
                <key>sourceSize</key>
                <string>{180,68}</string>
            </dict>
            <key>card_type_title_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,654},{180,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,68}}</string>
                <key>sourceSize</key>
                <string>{180,68}</string>
            </dict>
            <key>card_type_title_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,654},{180,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,68}}</string>
                <key>sourceSize</key>
                <string>{180,68}</string>
            </dict>
            <key>card_type_title_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,277},{180,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,68}}</string>
                <key>sourceSize</key>
                <string>{180,68}</string>
            </dict>
            <key>chat_focus.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>cmnd_type_big_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{209,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{209,279}}</string>
                <key>sourceSize</key>
                <string>{217,279}</string>
            </dict>
            <key>cmnd_type_big_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,745},{217,271}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{217,271}}</string>
                <key>sourceSize</key>
                <string>{217,279}</string>
            </dict>
            <key>cmnd_type_big_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,381},{213,271}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{213,271}}</string>
                <key>sourceSize</key>
                <string>{217,279}</string>
            </dict>
            <key>cmnd_type_big_frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{217,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,279}}</string>
                <key>sourceSize</key>
                <string>{217,279}</string>
            </dict>
            <key>cmnd_type_middle_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{209,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{209,222}}</string>
                <key>sourceSize</key>
                <string>{217,224}</string>
            </dict>
            <key>cmnd_type_middle_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{213,220}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{213,220}}</string>
                <key>sourceSize</key>
                <string>{217,224}</string>
            </dict>
            <key>cmnd_type_middle_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,347},{213,214}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{213,214}}</string>
                <key>sourceSize</key>
                <string>{217,224}</string>
            </dict>
            <key>cmnd_type_middle_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,224},{217,218}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{217,218}}</string>
                <key>sourceSize</key>
                <string>{217,224}</string>
            </dict>
            <key>cmnd_type_middle_frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{217,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,224}}</string>
                <key>sourceSize</key>
                <string>{217,224}</string>
            </dict>
            <key>countdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,321},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>dice.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,228},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,283},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>follow_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,337},{32,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>follow_forum.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,413},{40,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>follow_twiter.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,179},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>follow_youtube.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,451},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>gg.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,381},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,367},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>icon_shred.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,321},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>login_guest.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,381},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>mail_player.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,121},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>mail_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,70},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>mail_star_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,40},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>mainicon_mall.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,61},{78,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{78,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>mainui_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,121},{66,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,56}}</string>
                <key>sourceSize</key>
                <string>{66,56}</string>
            </dict>
            <key>mov_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,453},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pkrds_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,413},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>setting_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,201},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{36,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>setting_bbs.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,447},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>setting_email.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,413},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>setting_private.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,297},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{34,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>setting_push.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,367},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>setting_service.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,159},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>setting_terms.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,347},{38,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{38,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ship_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,271},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>space_defend.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,278},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>struct_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,379},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tec_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,241},{36,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>tech_btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,283},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>tech_btn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,283},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>wormhole_border_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,460}}</string>
                <key>sourceSize</key>
                <string>{53,460}</string>
            </dict>
            <key>wormhole_entrance2.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{79,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,57}}</string>
                <key>sourceSize</key>
                <string>{79,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI2.ktx</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9782be8b7caf1fd6fa974258293dbd39$</string>
            <key>textureFileName</key>
            <string>UI2.ktx</string>
        </dict>
    </dict>
</plist>
