<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SpacestationMc1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,180},{180,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,69}}</string>
                <key>sourceSize</key>
                <string>{180,69}</string>
            </dict>
            <key>SpacestationMc3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{386,176}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{386,176}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>announce_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,251},{164,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,38}}</string>
                <key>sourceSize</key>
                <string>{164,38}</string>
            </dict>
            <key>announce_important.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,248},{164,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,38}}</string>
                <key>sourceSize</key>
                <string>{164,38}</string>
            </dict>
            <key>announce_recommend.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,208},{164,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,38}}</string>
                <key>sourceSize</key>
                <string>{164,38}</string>
            </dict>
            <key>build_arrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,909},{58,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,38}}</string>
                <key>sourceSize</key>
                <string>{58,38}</string>
            </dict>
            <key>design_atta.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,640},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{64,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>design_atta_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,429},{40,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{40,40}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>design_atta_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,870},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>design_atta_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,781},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{84,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>design_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,440},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>design_aux.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{70,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>design_aux_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,387},{40,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{40,40}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>design_aux_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,874},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>design_aux_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,781},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{84,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>design_battleship.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,965},{77,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,56}}</string>
                <key>sourceSize</key>
                <string>{77,56}</string>
            </dict>
            <key>design_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{241,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,332}}</string>
                <key>sourceSize</key>
                <string>{241,332}</string>
            </dict>
            <key>design_cruiser.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,582},{65,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{77,56}</string>
            </dict>
            <key>design_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,940},{78,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{78,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>design_def_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,345},{40,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,29},{40,40}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>design_def_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,625},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>design_def_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,782},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{84,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>design_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,811},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>design_edi.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,406},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>design_electronic.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,460},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>design_frigate.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,704},{69,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{69,56}}</string>
                <key>sourceSize</key>
                <string>{77,56}</string>
            </dict>
            <key>design_shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,510},{126,110}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{126,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>design_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,474},{128,112}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>design_structure.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,482},{128,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>design_transmission.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,570},{128,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{128,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>enterBattle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,762},{69,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,47}}</string>
                <key>sourceSize</key>
                <string>{69,47}</string>
            </dict>
            <key>fleet_strategy_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,494},{40,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,21}}</string>
                <key>sourceSize</key>
                <string>{40,21}</string>
            </dict>
            <key>fleet_strategy_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,471},{40,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,21}}</string>
                <key>sourceSize</key>
                <string>{40,21}</string>
            </dict>
            <key>headblack.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,288},{156,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,150}}</string>
                <key>sourceSize</key>
                <string>{156,150}</string>
            </dict>
            <key>icon_numbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,382},{37,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,22}}</string>
                <key>sourceSize</key>
                <string>{37,22}</string>
            </dict>
            <key>instance_bg2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,782},{94,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,86}}</string>
                <key>sourceSize</key>
                <string>{94,86}</string>
            </dict>
            <key>instance_bg3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{149,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,106}}</string>
                <key>sourceSize</key>
                <string>{149,106}</string>
            </dict>
            <key>instance_star2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{199,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,112}}</string>
                <key>sourceSize</key>
                <string>{199,112}</string>
            </dict>
            <key>instance_star2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,622},{113,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,104}}</string>
                <key>sourceSize</key>
                <string>{113,104}</string>
            </dict>
            <key>instance_star3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,251},{194,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,129}}</string>
                <key>sourceSize</key>
                <string>{194,129}</string>
            </dict>
            <key>laser_launcher.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,474},{75,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,95}}</string>
                <key>sourceSize</key>
                <string>{75,95}</string>
            </dict>
            <key>link_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,294},{44,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,49}}</string>
                <key>sourceSize</key>
                <string>{44,49}</string>
            </dict>
            <key>mainui_anim_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,680},{92,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,83}}</string>
                <key>sourceSize</key>
                <string>{92,83}</string>
            </dict>
            <key>mainui_res_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,208},{197,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{197,41}}</string>
                <key>sourceSize</key>
                <string>{199,41}</string>
            </dict>
            <key>mainuicoupons.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,588},{126,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,46}}</string>
                <key>sourceSize</key>
                <string>{126,46}</string>
            </dict>
            <key>map_fog.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{366,204}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{366,204}}</string>
                <key>sourceSize</key>
                <string>{408,214}</string>
            </dict>
            <key>plane1.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,940},{96,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,58}}</string>
                <key>sourceSize</key>
                <string>{96,60}</string>
            </dict>
            <key>plane1_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,869},{64,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{64,38}}</string>
                <key>sourceSize</key>
                <string>{96,60}</string>
            </dict>
            <key>plane2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,727},{96,52}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,52}}</string>
                <key>sourceSize</key>
                <string>{96,60}</string>
            </dict>
            <key>plane2_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,544},{68,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{68,36}}</string>
                <key>sourceSize</key>
                <string>{96,60}</string>
            </dict>
            <key>pvp_fleetcard_bj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{112,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{112,144}}</string>
                <key>sourceSize</key>
                <string>{116,146}</string>
            </dict>
            <key>pvp_fleetcard_bj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,728},{112,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{112,144}}</string>
                <key>sourceSize</key>
                <string>{116,146}</string>
            </dict>
            <key>pvp_fleetcard_bj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,636},{112,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{112,144}}</string>
                <key>sourceSize</key>
                <string>{116,146}</string>
            </dict>
            <key>pvp_fleetcard_bj4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{112,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{112,144}}</string>
                <key>sourceSize</key>
                <string>{116,146}</string>
            </dict>
            <key>pvp_fleetcard_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,874},{110,140}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{110,140}}</string>
                <key>sourceSize</key>
                <string>{116,146}</string>
            </dict>
            <key>pvp_fleetcard_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,867},{108,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,71}}</string>
                <key>sourceSize</key>
                <string>{108,71}</string>
            </dict>
            <key>pvp_fleetcard_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{116,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,146}}</string>
                <key>sourceSize</key>
                <string>{116,146}</string>
            </dict>
            <key>pvp_pos.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,571},{72,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,52}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>pvp_reselect_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,336},{137,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,144}}</string>
                <key>sourceSize</key>
                <string>{137,144}</string>
            </dict>
            <key>pvp_reselect_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,680},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>report_commander_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,867},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>report_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,332},{150,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,140}}</string>
                <key>sourceSize</key>
                <string>{150,140}</string>
            </dict>
            <key>report_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,336},{130,122}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{130,122}}</string>
                <key>sourceSize</key>
                <string>{150,140}</string>
            </dict>
            <key>setting_lang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{144,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{144,140}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>shipmove.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,291},{152,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,39}}</string>
                <key>sourceSize</key>
                <string>{152,39}</string>
            </dict>
            <key>space_close_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,382},{146,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,126}}</string>
                <key>sourceSize</key>
                <string>{146,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI3.ktx</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:031ece992e2855d017de1289b8596dad$</string>
            <key>textureFileName</key>
            <string>UI3.ktx</string>
        </dict>
    </dict>
</plist>
