<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RankIcon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,536},{92,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,108}}</string>
                <key>sourceSize</key>
                <string>{92,108}</string>
            </dict>
            <key>RankIcon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,849},{86,100}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{86,100}}</string>
                <key>sourceSize</key>
                <string>{92,108}</string>
            </dict>
            <key>RankIcon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,724},{82,92}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{82,92}}</string>
                <key>sourceSize</key>
                <string>{92,108}</string>
            </dict>
            <key>ShipFlame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,416},{169,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,118}}</string>
                <key>sourceSize</key>
                <string>{169,118}</string>
            </dict>
            <key>ShipFlame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,296},{169,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,118}}</string>
                <key>sourceSize</key>
                <string>{169,118}</string>
            </dict>
            <key>SpacestationMc2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,67},{252,58}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{252,58}}</string>
                <key>sourceSize</key>
                <string>{300,120}</string>
            </dict>
            <key>SpacestationMc2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,918},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{22,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>SpacestationMc2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,127},{8,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{8,22}}</string>
                <key>sourceSize</key>
                <string>{10,30}</string>
            </dict>
            <key>SpacestationMc3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,536},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battle_cmnd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,951},{234,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,59}}</string>
                <key>sourceSize</key>
                <string>{234,59}</string>
            </dict>
            <key>battle_cmnd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,475},{234,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,59}}</string>
                <key>sourceSize</key>
                <string>{234,59}</string>
            </dict>
            <key>battle_teambody_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,705},{146,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,80}}</string>
                <key>sourceSize</key>
                <string>{146,80}</string>
            </dict>
            <key>building_pop_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,734},{124,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{124,113}}</string>
                <key>sourceSize</key>
                <string>{128,113}</string>
            </dict>
            <key>building_pop_btn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,874},{124,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{124,113}}</string>
                <key>sourceSize</key>
                <string>{128,113}</string>
            </dict>
            <key>building_pop_btn_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,536},{92,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,58}}</string>
                <key>sourceSize</key>
                <string>{92,58}</string>
            </dict>
            <key>card_container_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,127},{239,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,346}}</string>
                <key>sourceSize</key>
                <string>{239,346}</string>
            </dict>
            <key>card_draw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,67},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>card_draw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,165},{177,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,129}}</string>
                <key>sourceSize</key>
                <string>{177,129}</string>
            </dict>
            <key>corps_difficulty_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,484},{516,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,14}}</string>
                <key>sourceSize</key>
                <string>{516,14}</string>
            </dict>
            <key>dispatch_commander1.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,951},{234,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,59}}</string>
                <key>sourceSize</key>
                <string>{234,59}</string>
            </dict>
            <key>dispatch_commander2.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,475},{234,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,59}}</string>
                <key>sourceSize</key>
                <string>{234,59}</string>
            </dict>
            <key>dlg_frame_mask1.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,516},{200,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,15}}</string>
                <key>sourceSize</key>
                <string>{200,15}</string>
            </dict>
            <key>dlg_frame_mask2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,500},{200,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,21}}</string>
                <key>sourceSize</key>
                <string>{200,21}</string>
            </dict>
            <key>flash_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,744},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>flash_citycenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,666},{112,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,66}}</string>
                <key>sourceSize</key>
                <string>{112,66}</string>
            </dict>
            <key>flash_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,536},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>flash_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,893},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guide_fw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{588,480}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{588,480}}</string>
                <key>sourceSize</key>
                <string>{596,480}</string>
            </dict>
            <key>guide_gx.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{351,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,63}}</string>
                <key>sourceSize</key>
                <string>{351,63}</string>
            </dict>
            <key>instance_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,666},{56,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,76}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>item_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,658},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>mail_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,797},{36,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,84}}</string>
                <key>sourceSize</key>
                <string>{36,84}</string>
            </dict>
            <key>mall_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,893},{39,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,23}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>map_arena2.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,536},{98,208}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,208}}</string>
                <key>sourceSize</key>
                <string>{98,210}</string>
            </dict>
            <key>map_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,746},{114,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,145}}</string>
                <key>sourceSize</key>
                <string>{114,145}</string>
            </dict>
            <key>map_light1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,874},{55,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,114}}</string>
                <key>sourceSize</key>
                <string>{55,114}</string>
            </dict>
            <key>map_light1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{6,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,483}}</string>
                <key>sourceSize</key>
                <string>{6,483}</string>
            </dict>
            <key>quest_circle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,615},{91,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,88}}</string>
                <key>sourceSize</key>
                <string>{91,88}</string>
            </dict>
            <key>quest_circle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,484},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>quest_circle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,707},{91,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,88}}</string>
                <key>sourceSize</key>
                <string>{91,88}</string>
            </dict>
            <key>radar_redspot.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,787},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>setting_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,80},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>setting_item_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>setting_lang_cht.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,818},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>setting_lang_us.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,615},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>setting_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,883},{46,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>setting_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,969},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ship_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,658},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ship_prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,484},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>shipdesign_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,523},{98,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{98,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI4.ktx</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad6debf15381ee0c5181a062ca2cfab1$</string>
            <key>textureFileName</key>
            <string>UI4.ktx</string>
        </dict>
    </dict>
</plist>
